RewriteEngine On
RewriteBase /

# Jika file atau folder ada, jangan rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Semua request lain diarahkan ke index.php
RewriteRule ^(.*)$ index.php [QSA,L]
